body {
    background: #2f2f2f;
    margin-top: 110px;
}

.navbar-brand {
    height: auto;
    padding: 10px 0;
}

#navbar-main {
    padding-top: 1.2em;
}

.paginator .pagination .pagination {
    margin: 0 1em;
    border-radius: 0;
}
.paginator > .pagination {
    float: left;
}
.paginator > .pagination > li {
    float: left;
}
.paginator p {
    float: left;
    margin: 20px 2em;
    line-height: 1.42857;
    padding: 9px 0;
}

.navbar-default {
    background-color: #000000;
}

footer {
    margin: 2em 0;
}

footer li {
    float: left;
    margin-bottom: 1.5em;
    margin-right: 1.5em;
}

footer p {
    clear: left;
    margin-bottom: 0;
}

table thead a {
    color: #ffffff;
}
